@tailwind base;
@tailwind components;
@tailwind utilities;


@font-face {
  font-family: 'JetBrains Mono';
  src: url('/JetBrainsMono-Regular.woff2') format('woff2');
  font-weight: 400;
  font-style: normal;
}

@font-face {
  font-family: 'JetBrains Mono';
  src: url('/JetBrainsMono-ExtraLight.woff2') format('woff2');
  font-weight: 200;
  font-style: normal;
}

:root {
  --font-color: rgb(250 250 249);  
  --font-main: 'JetBrains Mono', sans-serif;
}

@media (prefers-color-scheme: dark) {
  :root {
    
  }
}

@media print {
  body {
    color: black !important;
    background-color: white !important;
  }
  button {display: none;}
  li {border: 1px solid black !important;}
  .break-before {
    page-break-before: always !important; /* This will always start a new page before this element */
  }
  #header {
    grid-template-columns: repeat(3, minmax(0, 1fr)) !important;
  }
  /* ... other styles ... */
}

body {
  color: var(--font-color);
  font-family: var(--font-main);
  font-size: 0.875rem;
  line-height: 1.25rem;
}

